/* Demo
   ========================================================================== */

.page-cell-demo-container {
  background: #f4f8ff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 34.4rem;
  padding: 0 1.6rem;
  position: relative;
}

.page-cell-demo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#avatarPhoto .page-cell-demo,
#avatarInitials .page-cell-demo,
#avatarIcon .page-cell-demo,
#buttonTypes .page-cell-demo,
#buttonTags .page-cell-demo,
#cell .page-cell-demo,
#tooltip .page-cell-demo,
#tooltipMenu .page-cell-demo,
#icon12x12 .page-cell-demo,
#icon16x16 .page-cell-demo {
  display: table;
  margin: 0 auto;
}

#modal .page-cell-demo,
#modalDialog .page-cell-demo {
  position: static;
  top: initial;
  transform: none;
}

/* Avatar
   ========================================================================== */

#avatarPhoto .avatar,
#avatarInitials .avatar,
#avatarIcon .avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.2rem;
}

/* Button
   ========================================================================== */

#buttonTypes .btn,
#buttonTags .btn,
#buttonTags button,
#buttonTags input {
  margin: 0 .6rem;
}

/* Tooltip
   ========================================================================== */

#tooltip .tooltip,
#tooltipMenu .tooltip-menu {
  margin: 0 1rem;
  position: relative;
}

/* Shadow
   ========================================================================== */

#shadow .shadow-z1,
#shadow .shadow-z2 {
  margin: 0 1rem;
  display: inline-block;
}

/* Form
   ========================================================================== */

#formInput form {
  display: block;
  margin: 0 auto;
}

#formInput input,
#formInput select,
#formInput textarea {
  width: 100%;
}

/* Wrap
   ========================================================================== */

.wrap {
  margin-top: 3.2rem;
}

/* Cell
   ========================================================================== */

.page-cell {
  background: #fff;
  border-radius: .2rem;
  margin-top: 3.2rem;
  padding: .8rem;
}

.page-cell:first-child {
  margin-top: 0;
}

.page-cell-title {
  font-size: 1.6rem;
  margin: 0;
  padding: 2.4rem 4rem 1.4rem;
}

.page-cell-description {
  font-size: 1.2rem;
  margin: 0;
  padding: 0 4rem 4rem;
}

/* Code
   ========================================================================== */

.page-cell-pre {
  background: #f4f8ff;
  margin: 0 4rem 3rem;
  overflow: scroll;
}

.page-cell-code {
  background: #f4f8ff;
  border-radius: 0;
  border: 0;
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
  font-size: 1.1rem;
}
