{namespace components}

/**
 * Button · Primary
 */
{template .buttonPrimary}
  {let $title: 'Button · Primary' /}
  {let $description: 'Primary buttons are used when there is a clear call-to-action.' /}
  {let $html kind="html"}
{literal}<a class="btn" href="#" role="button">Link</a>
<button type="submit">Button</button>
<input type="button" value="Input">
<input type="submit" value="Submit">
<input type="reset" value="Reset">{/literal}
  {/let}
  {let $snippet kind="text"}{$html}{/let}
  {call static.cell}
    {param title: $title /}
    {param description: $description /}
    {param snippet: $snippet /}
    {param html: $html /}
  {/call}
{/template}

/**
 * Button · Disabled
 */
{template .buttonDisabled}
  {let $title: 'Button · Disabled' /}
  {let $description: 'Make buttons look unclickable.' /}
  {let $html kind="html"}
{literal}<a class="btn btn-disabled">Anchor Disabled</a>
<button type="submit" disabled>Button Disabled</button>
{/literal}
  {/let}
  {let $snippet kind="text"}{$html}{/let}
  {call static.cell}
    {param title: $title /}
    {param description: $description /}
    {param snippet: $snippet /}
    {param html: $html /}
  {/call}
{/template}
