{namespace components}

/**
 * Cell
 */
{template .cell}
  {let $id: 'cell' /}
  {let $title: 'Cell' /}
  {let $description: '' /}
  {let $html kind="html"}
{literal}<section class="cell" style="width: 100px; height: 100px;"></section>{/literal}
  {/let}
  {let $snippet kind="text"}{$html}{/let}
  {call static.cell}
    {param id: $id /}
    {param title: $title /}
    {param description: $description /}
    {param snippet: $snippet /}
    {param html: $html /}
  {/call}
{/template}
