{namespace components}

/**
 * Navigation · Topbar
 */
{template .navTopbar}
  {let $id: 'navTopbar' /}
  {let $title: 'Navigation · Topbar' /}
  {let $description: 'This is how users navigate through the application.' /}
  {let $html kind="html"}
{literal}<nav class="topbar">
  <ul class="topbar-list">
    <li class="topbar-item">
      <a class="topbar-link" href="#">
        <img class="topbar-logo" src="docs/images/nav-logo.svg" width="19" height="19" alt="Logo">
      </a>
    </li>
    <li class="topbar-item">
      <a class="topbar-link topbar-link-selected" href="#">My Apps</a>
    </li>
    <li class="topbar-item">
      <a class="topbar-link" href="#">Tutorials</a>
    </li>
    <li class="topbar-item">
      <a class="topbar-link" href="#">Documentation</a>
    </li>
    <li class="topbar-item u-pull-right">
      <a class="topbar-link" href="#">
        <img class="avatar" src="docs/images/avatar-person-1.png" alt="Zeno Rocha">
      </a>
    </li>
  </ul>
</nav>{/literal}
  {/let}
  {let $snippet kind="text"}{$html}{/let}
  {call static.cell}
    {param id: $id /}
    {param title: $title /}
    {param description: $description /}
    {param snippet: $snippet /}
    {param html: $html /}
  {/call}
{/template}

/**
 * Navigation · Sidebar
 */
{template .navSidebar}
  {let $id: 'navSidebar' /}
  {let $title: 'Navigation · Sidebar' /}
  {let $description: 'This is how users navigate through a page anchors.' /}
  {let $html kind="html"}
{literal}<nav class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a class="sidebar-link sidebar-link-selected" href="#">
        <span class="sidebar-icon icon-12-browser"></span>App Info
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="#">
        <span class="sidebar-icon icon-12-persons"></span>Collaborators
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="#">
        <span class="sidebar-icon icon-12-card"></span>Plans
      </a>
    </li>
  </ul>
</nav>{/literal}
  {/let}
  {let $snippet kind="text"}{$html}{/let}
  {call static.cell}
    {param id: $id /}
    {param title: $title /}
    {param description: $description /}
    {param snippet: $snippet /}
    {param html: $html /}
  {/call}
{/template}
