$height: 3.2rem;

/* Default
   ========================================================================== */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @include anim(opacity);
  @extend .round;
  border: none;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  height: $height;
  letter-spacing: normal;
  line-height: $height;
  margin: 0;
  padding: 0 2.4rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: $white;
  opacity: .8;
}

/* Primary
   ========================================================================== */

.btn-primary {
  color: $white;
  background: $blue;
}

/* Secondary
   ========================================================================== */

.btn-secondary {
  color: $white;
  background: $grey;
}

/* Disabled
   ========================================================================== */

.btn.btn-disabled,
button[disabled] {
  opacity: .4;
  cursor: not-allowed;
  transition: none;
}
