/* Form
   ========================================================================== */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  @include anim(border);
  @extend .round;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, .2);
  font-weight: $regular;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #1c6de2;
}

input::-moz-selection {
  background: #d1e2f9;
}

input::selection {
  background: #d1e2f9;
}

label,
.form-field-aux {
  color: #233240;
  text-align: left;
  opacity: .7;
  font-weight: $fontWeight;
  font-size: 1.2rem;
  display: block;
}

.form-field-aux {
  margin-top: .5rem;
}
