/* Icon · 12x12
   ========================================================================== */

@font-face {
  font-family: 'ui-kit-12';
  src:url('../font/ui-kit-12.eot?xuhdba');
  src:url('../font/ui-kit-12.eot?#iefixxuhdba') format('embedded-opentype'),
    url('../font/ui-kit-12.woff?xuhdba') format('woff'),
    url('../font/ui-kit-12.ttf?xuhdba') format('truetype'),
    url('../font/ui-kit-12.svg?xuhdba#ui-kit-12') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-12-"], [class*=" icon-12-"] {
  font-family: 'ui-kit-12';
  speak: none;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-12-clock:before {
  content: "\e000";
}

.icon-12-pin:before {
  content: "\e001";
}

.icon-12-ballon-text:before {
  content: "\e002";
}

.icon-12-camera:before {
  content: "\e003";
}

.icon-12-link:before {
  content: "\e004";
}

.icon-12-heart-outline:before {
  content: "\e005";
}

.icon-12-star:before {
  content: "\e006";
}

.icon-12-post:before {
  content: "\e007";
}

.icon-12-close-long:before {
  content: "\e008";
}

.icon-12-person:before {
  content: "\e009";
}

.icon-12-building-small:before {
  content: "\e00a";
}

.icon-12-people:before {
  content: "\e00b";
}

.icon-12-hash:before {
  content: "\e00c";
}

.icon-12-close-short:before {
  content: "\e00d";
}

.icon-12-heart-inline:before {
  content: "\e00e";
}

.icon-12-arrow-left-long:before {
  content: "\e00f";
}

.icon-12-arrow-right-long:before {
  content: "\e010";
}

.icon-12-plus:before {
  content: "\e011";
}

.icon-12-person-card-3:before {
  content: "\e012";
}

.icon-12-person-card-2:before {
  content: "\e013";
}

.icon-12-building-big:before {
  content: "\e014";
}

.icon-12-groups:before {
  content: "\e015";
}

.icon-12-persons:before {
  content: "\e016";
}

.icon-12-balloon-topic:before {
  content: "\e017";
}

.icon-12-check:before {
  content: "\e018";
}

.icon-12-balloon-comments:before {
  content: "\e019";
}

.icon-12-balloon-comments-inline:before {
  content: "\e01a";
}

.icon-12-heart-full:before {
  content: "\e01b";
}

.icon-12-arrow-down-short:before {
  content: "\e01c";
}

.icon-12-arrow-up-short:before {
  content: "\e01d";
}

.icon-12-arrow-right-rod:before {
  content: "\e01e";
}

.icon-12-arrow-left-rod:before {
  content: "\e01f";
}

.icon-12-arrows:before {
  content: "\e020";
}

.icon-12-browser:before {
  content: "\e021";
}

.icon-12-card:before {
  content: "\e022";
}

.icon-12-trash:before {
  content: "\e023";
}

/* Icon · 16x16
   ========================================================================== */

@font-face {
  font-family: 'ui-kit-16';
  src:url('../font/ui-kit-16.eot?-fpx501');
  src:url('../font/ui-kit-16.eot?#iefix-fpx501') format('embedded-opentype'),
    url('../font/ui-kit-16.woff?-fpx501') format('woff'),
    url('../font/ui-kit-16.ttf?-fpx501') format('truetype'),
    url('../font/ui-kit-16.svg?-fpx501#ui-kit-16') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-16-"], [class*=" icon-16-"] {
  font-family: 'ui-kit-16';
  speak: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-16-star:before {
  content: "\e500";
}

.icon-16-post-subscribe:before {
  content: "\e501";
}

.icon-16-camera:before {
  content: "\e502";
}

.icon-16-heart-outline:before {
  content: "\e503";
}

.icon-16-heart-inline:before {
  content: "\e504";
}

.icon-16-balloon-comment:before {
  content: "\e505";
}

.icon-16-ellipsis:before {
  content: "\e506";
}

.icon-16-menu:before {
  content: "\e507";
}

.icon-16-search:before {
  content: "\e508";
}

.icon-16-bell:before {
  content: "\e509";
}

.icon-16-pen:before {
  content: "\e50a";
}

.icon-16-link:before {
  content: "\e50b";
}

.icon-16-bullhorn:before {
  content: "\e50c";
}

.icon-16-plus:before {
  content: "\e50d";
}

.icon-16-cancel:before {
  content: "\e50e";
}

.icon-16-back:before {
  content: "\e50f";
}

.icon-16-send:before {
  content: "\e510";
}

.icon-16-confirm:before {
  content: "\e511";
}

.icon-16-heart-full:before {
  content: "\e512";
}

.icon-16-liferay-logo-outline:before {
  content: "\e513";
}

.icon-16-house:before {
  content: "\e514";
}

.icon-16-persons:before {
  content: "\e515";
}

.icon-16-groups:before {
  content: "\e516";
}

.icon-16-balloon-topic:before {
  content: "\e517";
}

.icon-16-streams:before {
  content: "\e518";
}

.icon-16-menu-content:before {
  content: "\e519";
}

.icon-16-liferay-logo-inline:before {
  content: "\e51a";
}
