/* Navigation · Topbar
   ========================================================================== */

.topbar {
  @extend .shadow-z1;
  background: $blue;
  height: 6.4rem;
}

.topbar-list {
  list-style: none;
  padding: 2rem 0;
}

.topbar-item {
  display: inline-block;
  margin: 0 2rem;
}

.topbar-item:first-child {
  margin-left: 3.2rem;
}

.topbar-item:last-child {
  margin-right: 3.2rem;
}

.topbar-item .avatar {
  display: block;
  height: 36px;
  margin-top: -.6rem;
  width: 36px;
}

.topbar-logo {
  vertical-align: sub;
}

.topbar-link {
  @include anim(color);
  color: rgba(255, 255, 255, .5);
  font-size: 1.6rem;
  font-weight: $semiBold;
  text-decoration: none;
}

.topbar-link:hover {
  color: rgba(255, 255, 255, .8);
}

.topbar-link-selected,
.topbar-link-selected:hover {
  color: rgb(255, 255, 255);
}

/* Navigation · Sidebar
   ========================================================================== */

.sidebar {
  @extend .round;
  @extend .shadow-z2;
  background: $white;
  margin: 0 auto;
  width: 20.8rem;
}

.sidebar-list {
  list-style: none;
  margin: 0;
}

.sidebar-item {
  display: block;
  margin: .2rem 0;
}

.sidebar-item:first-child {
  padding-top: 1.4rem;
}

.sidebar-item:last-child {
  padding-bottom: 1.4rem;
}

.sidebar-link {
  @include anim(all);
  color: rgba(35, 50, 64, .9);
  display: block;
  padding: .8rem 2rem;
  text-decoration: none;
}

.sidebar-link:hover {
  background: rgba(28, 109, 226, .05);
  color: rgba(35, 50, 64, .9);
}

.sidebar-link-selected,
.sidebar-link-selected:hover {
  background: rgba(28, 109, 226, .1);
  color: $blue;
}

.sidebar-icon {
  margin-right: 1.6rem;
  vertical-align: middle;
}
