/* Navigation · Top
   ========================================================================== */

.nav-top {
  @extend .shadow-z1;
  background: #1c6de2;
  height: 6.4rem;
  text-align: left;
}

.nav-top-list {
  list-style: none;
  padding: 2rem 0;
}

.nav-top-item {
  display: inline-block;
  margin: 0 2rem;
}

.nav-top-item:first-child {
  margin-left: 3.2rem;
}

.nav-top-item:last-child {
  margin-right: 2.4rem;
}

.nav-top-item .avatar {
  margin-top: -2.8rem;
}

.nav-top-logo {
  vertical-align: sub;
}

.nav-top-link {
  @include anim(color);
  color: rgba(255, 255, 255, .5);
  font-size: 1.6rem;
  font-weight: $semiBold;
  text-decoration: none;
}

.nav-top-link:hover {
  color: rgba(255, 255, 255, .8);
}

.nav-top-link-selected,
.nav-top-link-selected:hover {
  color: rgb(255, 255, 255);
}

/* Navigation · Side
   ========================================================================== */

.nav-side {
  @extend .shadow-z2;
  background: #fff;
  margin: 0 auto;
  width: 20.8rem;
}

.nav-side-list {
  list-style: none;
  margin: 0;
  text-align: left;
}

.nav-side-item {
  display: block;
  margin: 0;
}

.nav-side-item:first-child {
  padding-top: 1.4rem;
}

.nav-side-item:last-child {
  padding-bottom: 1.4rem;
}

.nav-side-link {
  @include anim(all);
  color: rgba(35, 50, 64, .9);
  display: block;
  padding: .8rem 2rem;
  text-decoration: none;
}

.nav-side-link:hover {
  color: $blue;
  background: rgba(28, 109, 226, .1);
}

.nav-side-icon {
  margin-right: 1.6rem;
}
