.avatar {
  border-radius: 50%;
}

/* Sizes
   ========================================================================== */

.avatar-small {
  width: 36px;
  height: 36px;
}

.avatar-medium {
  width: 56px;
  height: 56px;
}

.avatar-large {
  width: 92px;
  height: 92px;
}

/* Initials
   ========================================================================== */

.avatar-initials {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.avatar-initials.avatar-small {
  font-size: 1.2rem;
  line-height: 3.6rem;
}

.avatar-initials.avatar-medium {
  font-size: 2rem;
  line-height: 5.6rem;
}

.avatar-initials.avatar-large {
  font-size: 4rem;
  line-height: 9.2rem;
}

/* Icon
   ========================================================================== */

.avatar-icon.avatar-small img {
  width: 18px;
  height: 18px;
  padding: 9px 0;
}

.avatar-icon.avatar-medium img {
  width: 28px;
  height: 28px;
  padding: 14px 0;
}

.avatar-icon.avatar-large img {
  width: 46px;
  height: 46px;
  padding: 23px 0;
}
