$blue : rgb(28, 109, 226);
$white: rgb(255, 255, 255);
$grey : rgb(189, 193, 197);

/* Base
   ========================================================================== */

body {
  background: #f3f8fe;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  color: $blue;
}

a:hover {
  color: $blue;
}

/* Utils
   ========================================================================== */

@mixin anim($property) {
  transition: $property .2s ease-in-out;
}

.round {
  border-radius: 0.2rem;
}

/* Components
   ========================================================================== */

@import "avatar";
@import "button";
@import "cell";
@import "form";
@import "modal";
@import "shadow";
@import "tooltip";
