$blue: rgb(28, 109, 226);
$white: rgb(255, 255, 255);
$grey: rgb(189, 193, 197);

$regular: 400;
$semiBold: 600;

/* ==========================================================================
   Base
   ========================================================================== */

body {
  background: rgb(244, 248, 255);
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  letter-spacing: -0.02rem;
}

a {
  color: $blue;
}

a:hover {
  color: $blue;
}

/* ==========================================================================
   Utils
   ========================================================================== */

@mixin anim($property) {
  transition: $property .3s ease-in-out;
}

.centered {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}

.round {
  border-radius: 0.2rem;
}

/* ==========================================================================
   Components
   ========================================================================== */

@import "avatar";
@import "button";
@import "cell";
@import "form";
@import "modal";
@import "navigation";
@import "shadow";
@import "tooltip";
