@import "variables";

/* ==========================================================================
	 Base
	 ========================================================================== */

body {
	background: #f4f8ff;
}

a {
	color: $primary;
}

a:hover {
	color: $primary;
}

/* ==========================================================================
	 Mixins
	 ========================================================================== */

@mixin anim($property) {
	transition: $property .3s ease-in-out;
}

/* ==========================================================================
	 Utils
	 ========================================================================== */

.centered {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
}

.round {
	border-radius: 0.2rem;
}

/* ==========================================================================
	 Components
	 ========================================================================== */

@import "components/avatar";
@import "components/button";
@import "components/cell";
@import "components/form";
@import "components/modal";
@import "components/navigation";
@import "components/shadow";
@import "components/tooltip";
@import "components/typography";
