<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Avatar</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="../../base/normalize.css">
  <link rel="stylesheet" href="../../base/skeleton.css">
  <link rel="stylesheet" href="../../base/site.css">
  <link rel="stylesheet" href="../../base/main.css">

  <link rel="stylesheet" href="avatar.css">

</head>
<body>

  <div class="container">
    <div class="card shadow">
      <h3 class="card-title">Avatar</h3>
      <p class="card-description">Make sure you load an image twice the size in order to guarantee high quality on retina displays.</p>
      <div class="card-demo">
        <img class="avatar" src="user.jpg" width="48" height="48" alt="Zeno Rocha">
      </div>
      <pre class="card-pre"><code class="card-code">&lt;img class="avatar" src="user.jpg" width="48" height="48" alt="Zeno Rocha"&gt;</code></pre>
    </div>
  </div>

</body>
</html>
