<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Avatar</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="../../base/normalize.css">
  <link rel="stylesheet" href="../../base/skeleton.css">
  <link rel="stylesheet" href="../../base/main.css">

  <link rel="stylesheet" href="avatar.css">

</head>
<body>

  <img class="avatar" src="https://avatars2.githubusercontent.com/u/398893?s=96" width="48" height="48" alt="Zeno Rocha">

</body>
</html>
