/* Avatar
   ========================================================================== */

.avatar {
  @include anim(opacity);
  border-radius: 50%;
  display: block;
  text-align: center;
  text-decoration: none;
}

.avatar:hover {
  opacity: .8;
}

/* Avatar · Sizes
   ========================================================================== */

$small : 3.6rem;
$medium: 5.6rem;
$large : 9.2rem;

.avatar-small {
  width: $small;
  height: $small;
}

.avatar-medium {
  width: $medium;
  height: $medium;
}

.avatar-large {
  width: $large;
  height: $large;
}

/* Avatar · Photo
   ========================================================================== */

.avatar-photo {
  border-radius: 50%;
}

.avatar-small .avatar-photo {
  @extend .avatar-small;
}

.avatar-medium .avatar-photo {
  @extend .avatar-medium;
}

.avatar-large .avatar-photo {
  @extend .avatar-large;
}

/* Avatar · Initials
   ========================================================================== */

.avatar-initials {
  color: $white;
  font-weight: $semiBold;
  text-align: center;
  text-transform: uppercase;
}

.avatar-small .avatar-initials {
  font-size: $small/4;
  line-height: $small;
}

.avatar-medium .avatar-initials {
  font-size: $medium/4;
  line-height: $medium;
}

.avatar-large .avatar-initials {
  font-size: $large/4;
  line-height: $large;
}

/* Avatar · Icon
   ========================================================================== */

$icon12Medium : 3.6rem;
$icon16Medium : 5.6rem;
$icon12Large  : 7.2rem;
$icon16Large  : 9.2rem;

.avatar-icon {
  display: block;
  margin: 0 auto;
}

.avatar-medium span[class^="icon-12-"].avatar-icon,
.avatar-medium span[class*="icon-12-"].avatar-icon {
  font-size: 1.2rem;
  line-height: $icon12Medium;
}

.avatar-medium span[class^="icon-16-"].avatar-icon,
.avatar-medium span[class*="icon-16-"].avatar-icon {
  font-size: 1.6rem;
  line-height: $icon16Medium;
}

.avatar-large span[class^="icon-12-"].avatar-icon,
.avatar-large span[class*="icon-12-"].avatar-icon {
  font-size: 2.4rem;
  line-height: $icon12Large;
}

.avatar-large span[class^="icon-16-"].avatar-icon,
.avatar-large span[class*="icon-16-"].avatar-icon {
  font-size: 3.2rem;
  line-height: $icon16Large;
}

.avatar-medium img.avatar-icon {
  width: $medium/2;
  height: $medium/2;
  padding: $medium/4 0;
}

.avatar-large img.avatar-icon {
  width: $large/2;
  height: $large/2;
  padding: $large/4 0;
}
