/* Form
	 ========================================================================== */

form {
	max-width: 40rem;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	@include anim(border);
	@extend .round;
	background: rgba($white, .2);
	border: 1px solid rgba($secondary, .2);
	color: rgba($black, .4);
	font-size: 1.2rem;
	font-weight: $regular;
	margin: 0;
	padding: 5px 10px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid $primary;
}

input::-moz-selection {
	background: rgba($primary, 0.1);
}

input::selection {
	background: rgba($primary, 0.1);
}

label,
.form-field-aux {
	font-weight: $regular;
	display: block;
}

label {
	color: rgba($secondary, .7);
	font-size: 1.2rem;
	margin-bottom: .3rem;
}

.form-field-aux {
	color: rgba($secondary, .4);
	font-size: 1.1rem;
	margin-top: .2rem;
}
