<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Navbar</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="../../base/normalize.css">
  <link rel="stylesheet" href="../../base/skeleton.css">
  <link rel="stylesheet" href="../../base/site.css">
  <link rel="stylesheet" href="../../base/main.css">

  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="../avatar/avatar.css">

</head>
<body>

  <div class="container">
    <div class="card shadow">
      <h3 class="card-title">Navbar</h3>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, natus.</p>
      <div class="card-demo">
        <nav class="navbar shadow">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a class="navbar-link" href="#">
                <img class="navbar-logo" src="logo.svg" width="20" height="20" alt="Logo Liferay">
              </a>
            <li class="navbar-item">
              <a class="navbar-link navbar-link-selected" href="#">My Apps</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="#">Tutorials</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="#">Documentation</a>
            </li>
            <li class="navbar-item u-pull-right">
              <a class="navbar-link" href="#">
                <img class="avatar" src="user.jpg" width="36" height="36" alt="Zeno Rocha">
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <pre class="card-pre"><code class="card-code">&lt;nav class="navbar shadow"&gt;
  &lt;ul class="navbar-list"&gt;
    &lt;li class="navbar-item"&gt;
      &lt;a class="navbar-link" href="#"&gt;
        &lt;img class="navbar-logo" src="logo.svg" width="20" height="20" alt="Logo Liferay"&gt;
      &lt;/a&gt;
    &lt;li class="navbar-item"&gt;
      &lt;a class="navbar-link navbar-link-selected" href="#"&gt;My Apps&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="navbar-item"&gt;
      &lt;a class="navbar-link" href="#"&gt;Tutorials&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="navbar-item"&gt;
      &lt;a class="navbar-link" href="#"&gt;Documentation&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="navbar-item u-pull-right"&gt;
      &lt;a class="navbar-link" href="#"&gt;
        &lt;img class="avatar" src="user.jpg" width="38" height="38" alt="Zeno Rocha"&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
    </div>
  </div>

</body>
</html>
