.page-logo {
  display: block;
  margin: 32px auto;
}

.page-cell {
  background: #fff;
  border-radius: .2rem;
  margin-top: 3.2rem;
}

.page-cell-title {
  font-size: 2.4rem;
  margin: 0;
  padding: 1.6rem 1.6rem .8rem;
  text-transform: uppercase;
}

.page-cell-description {
  border-bottom: .1rem solid #eeeff0;
  margin: 0;
  padding: 0 1.6rem 1.6rem;
}

.page-cell-demo {
  border-bottom: 1px solid #eeeff0;
  padding: 1.6rem;
  text-align: center;
}

.page-cell-demo .avatar {
  display: inline-block;
  vertical-align: bottom;
}

.page-cell-demo form {
  display: block;
  margin: 0 auto;
  width: 20rem;
}

.page-cell-demo form input,
.page-cell-demo form select,
.page-cell-demo form textarea {
  width: 100%;
}

.page-cell-demo .shadow-z1,
.page-cell-demo .shadow-z2 {
  margin: 0 1rem;
  display: inline-block;
}

.page-cell-pre {
  margin: 0;
}

.page-cell-code {
  background: #f8f8f8;
  border-radius: 0;
  border: 0;
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
  margin: 0;
  padding: 1.6rem;
}

.page-copyright {
  text-align: center;
  margin: 3.2rem 0;
}
