.page-logo {
  display: block;
  margin: 32px auto;
}

.page-card {
  background: #fff;
  border-radius: 2px;
  margin-top: 32px;
}

.page-card-title {
  font-size: 2.4rem;
  margin: 0;
  padding: 16px 16px 8px;
  text-transform: uppercase;
}

.page-card-description {
  border-bottom: 1px solid #eeeff0;
  margin: 0;
  padding: 0 16px 16px;
}

.page-card-demo {
  border-bottom: 1px solid #eeeff0;
  padding: 16px;
  text-align: center;
}

.page-card-demo .avatar {
  display: inline-block;
}

.page-card-pre {
  margin: 0;
}

.page-card-code {
  background: #f8f8f8;
  border-radius: 0;
  border: 0;
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
  margin: 0;
  padding: 16px;
}

.page-copyright {
  text-align: center;
  margin: 32px 0;
}
