/* Demo
   ========================================================================== */

.page-cell-demo {
  border-bottom: 1px solid #eeeff0;
  padding: 1.6rem;
  position: relative;
}

#avatarPhoto .page-cell-demo,
#avatarInitials .page-cell-demo,
#avatarIcon .page-cell-demo,
#buttonTypes .page-cell-demo,
#buttonTags .page-cell-demo,
#modal .modal,
#modalDialog .modal,
#cell .page-cell-demo,
#tooltip .page-cell-demo,
#tooltipMenu .page-cell-demo,
#icon12x12 .page-cell-demo,
#icon16x16 .page-cell-demo {
  display: table;
  margin: 0 auto;
}

/* Avatar
   ========================================================================== */

#avatarPhoto .avatar,
#avatarInitials .avatar,
#avatarIcon .avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.2rem;
}

/* Button
   ========================================================================== */

#buttonTypes .btn,
#buttonTags .btn,
#buttonTags button,
#buttonTags input {
  margin: 0 .6rem;
}

/* Tooltip
   ========================================================================== */

#tooltip .tooltip,
#tooltipMenu .tooltip {
  margin: 0 1rem;
}

/* Shadow
   ========================================================================== */

#shadow .shadow-z1,
#shadow .shadow-z2 {
  margin: 0 1rem;
  display: inline-block;
}

/* Form
   ========================================================================== */

#formInput form {
  display: block;
  margin: 0 auto;
}

#formInput input,
#formInput select,
#formInput textarea {
  width: 100%;
}

/* Logo
   ========================================================================== */

.page-logo {
  display: block;
  margin: 32px auto;
}

/* Cell
   ========================================================================== */

.page-cell {
  background: #fff;
  border-radius: .2rem;
  margin-top: 3.2rem;
}

.page-cell-title {
  font-size: 2.4rem;
  margin: 0;
  padding: 1.6rem 1.6rem .8rem;
  text-transform: uppercase;
}

.page-cell-description {
  border-bottom: .1rem solid #eeeff0;
  margin: 0;
  padding: 0 1.6rem 1.6rem;
}

/* Code
   ========================================================================== */

.page-cell-pre {
  margin: 0;
}

.page-cell-code {
  background: #f8f8f8;
  border-radius: 0;
  border: 0;
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
  margin: 0;
  padding: 1.6rem;
}

/* Copyright
   ========================================================================== */

.page-copyright {
  text-align: center;
  margin: 3.2rem 0;
}
