.card {
  background: #fff;
  border-radius: 2px;
  margin-top: 32px;
}

.card-title {
  border-bottom: 1px solid #eeeff0;
  margin: 0;
  padding: 16px;
}

.card-description {
  border-bottom: 1px solid #eeeff0;
  margin: 0;
  padding: 16px;
}

.card-demo {
  background: #E8F3FF;
  border-bottom: 1px solid #eeeff0;
  padding: 16px;
  text-align: center;
}

.card-pre {
  margin: 0;
}

.card-code {
  background: #fff;
  border-radius: 0;
  border: 0;
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
  margin: 0;
  padding: 16px;
}
