/* Button
   ========================================================================== */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @include anim(opacity);
  @extend .round;
  background: $blue;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: $semiBold;
  height: 3.2rem;
  letter-spacing: normal;
  line-height: 3.2rem;
  margin: 0;
  padding: 0 2.4rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: $white;
  opacity: .8;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $white;
}

/* Button · Secondary
   ========================================================================== */

.btn.btn-secondary {
  color: $white;
  background: $grey;
}

/* Button · Disabled
   ========================================================================== */

.btn.btn-disabled,
button[disabled] {
  opacity: .4;
  cursor: not-allowed;
  transition: none;
}

.btn.btn-disabled:hover {
  opacity: .4;
}

/* Button · Link
   ========================================================================== */

.btn.btn-link {
  color: $blue;
  background: $white;
  font-weight: $regular;
}

.btn.btn-link:hover {
  color: $blue;
  opacity: 1;
  text-decoration: underline;
}
