/* Nav · Primary
   ========================================================================== */

.nav-primary {
  @extend .shadow-z1;
  background: #1c6de2;
  height: 6.4rem;
  text-align: left;
}

.nav-primary-list {
  list-style: none;
  padding: 2rem 0;
}

.nav-primary-item {
  display: inline-block;
  margin: 0 1.2rem;
}

.nav-primary-item:first-child {
  margin-left: 2.4rem;
}

.nav-primary-item:last-child {
  margin-right: 2.4rem;
}

.nav-primary-item .avatar {
  margin-top: -2.8rem;
}

.nav-primary-logo {
  vertical-align: sub;
}

.nav-primary-link {
  @include anim(color);
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

.nav-primary-link:hover {
  color: rgba(255, 255, 255, .8);
}

.nav-primary-link-selected,
.nav-primary-link-selected:hover {
  color: rgb(255, 255, 255);
}

/* Nav · Secondary
   ========================================================================== */

.nav-secondary {
  @extend .shadow-z2;
  background: #fff;
  margin: 0 auto;
  width: 20.8rem;
}

.nav-secondary-list {
  list-style: none;
  margin: 0;
  text-align: left;
}

.nav-secondary-item {
  display: block;
  margin: 0;
}

.nav-secondary-item:first-child {
  padding-top: 1.4rem;
}

.nav-secondary-item:last-child {
  padding-bottom: 1.4rem;
}

.nav-secondary-link {
  @include anim(all);
  color: rgba(35, 50, 64, .9);
  display: block;
  padding: .8rem 2rem;
  text-decoration: none;
}

.nav-secondary-link:hover {
  background: rgba(28, 109, 226, .1);
}

.nav-secondary-link-selected {
  color: $blue;
  background: rgba(28, 109, 226, .05);
}

.nav-secondary-icon {
  margin-right: 1.6rem;
}
