.avatar {
  border-radius: 50%;
}

/* Sizes
   ========================================================================== */
.avatar-small {
  width: 3.6rem;
  height: 3.6rem;
}

.avatar-medium {
  width: 5.6rem;
  height: 5.6rem;
}

.avatar-large {
  width: 9.2rem;
  height: 9.2rem;
}

/* Initials
   ========================================================================== */
.avatar-initials {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.avatar-initials.avatar-small {
  font-size: 1.2rem;
  line-height: 3.6rem;
}

.avatar-initials.avatar-medium {
  font-size: 1.86667rem;
  line-height: 5.6rem;
}

.avatar-initials.avatar-large {
  font-size: 3.06667rem;
  line-height: 9.2rem;
}

/* Icon
   ========================================================================== */
.avatar-icon.avatar-small img {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.9rem 0;
}

.avatar-icon.avatar-medium img {
  width: 2.8rem;
  height: 2.8rem;
  padding: 1.4rem 0;
}

.avatar-icon.avatar-large img {
  width: 4.6rem;
  height: 4.6rem;
  padding: 2.3rem 0;
}
